html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

body {
  height: 100%;
  background-color: rgb(0, 148, 148);
}

.content {
  left: 50%;
  right: 50%;
  text-align: center;
  margin: 10px;
  height: 100%;
  background-color: rgb(0, 122, 122);;
  padding: 15px;
}

.headline {
  color: white;
  font-size: 4vh;
}

.row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  background-color: rgb(0, 148, 148);
  height: fit-content;
  width: 19%;
  border-radius: 20px;
  padding: 20px;
  text-align: left;
  color: white;
  justify-content: space-between;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
@media screen and (max-width:987px) {
  .card {
    width: 48%;
  }
  
}
@media screen and (max-width:787px) {
  .card {
    width: 100%;
  }
}
.left-box {
  font-size: 30px;
  display: inline;
}

.container {
  background-color:rgb(0, 122, 122);  
  padding: 60px;
  margin: 0;
  border-radius: 20px;
  width: 920px;
}

.animation {
  display: inline;
  width: 20%;
}


.example-word {
  display: block;
  margin: 0;
  padding: 0;
}

.upper-box {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
}
.card .gif{
  width: 120px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}
.right-box {
  margin: 0px;
  padding: 0px;
  width: 50px;
  height: 50px;
}

.volume {
  size: 30px;
}

.btn{
  background: transparent;
  border-radius: 0;
  border: none;
  transition: all 0.3s;
}
.btn:hover{
  cursor: pointer;
  color: black;
  scale: 1.2;
}