html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  background-color: rgb(0, 122, 122);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.hidden {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  color: white;
}

.content {
  left: 50%;
  right: 50%;
  height: 100vh;
  text-align: center;
  height: 100%;
  background-color: rgb(0, 122, 122);
  padding: 15px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 17px;
  justify-content: center;
}

.card {
  background-color: rgb(0, 132, 132);
  height: fit-content;
  width: 19%;
  min-width: 18rem;
  border-radius: 20px;
  padding: 20px;
  text-align: left;
  color: white;
  justify-content: space-between;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
@media screen and (max-width: 1363px) {
  .card {
    width: 30%;
  }
}
@media screen and (max-width: 1018px) {
  .card {
    width: 48%;
  }
}
@media screen and (max-width: 787px) {
  .card {
    width: 100%;
  }
}
.left-box {
  font-size: 30px;
  display: inline;
}

.animation {
  display: inline;
  width: 20%;
}

.example-word {
  display: block;
  margin: 0;
  padding: 0;
}

.upper-box {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
}
.card .gif {
  object-fit: cover;
  border-radius: 10px;
  size: 20%;
}
.right-box {
  margin: 0px;
  padding: 0px;
  width: 50px;
  height: 50px;
}

.volume {
  size: 30px;
}

.btn {
  background: transparent;
  border-radius: 0;
  border: none;
  transition: all 0.3s;
}
.btn:hover {
  cursor: pointer;
  color: black;
  scale: 1.2;
}

.word {
  display: contents;
}

.Collapsible__trigger {
  padding: 10px;
  display: inline-block;
  font-size: 24px;
  font-weight: 490;
  width: 100%;
  cursor: pointer;
  position: relative;
}

.Collapsible__trigger:after {
  font-family: "FontAwesome";
  content: "\f107";
  position: absolute;
  right: 10px;
  top: 10px;
  display: block;
  transition: transform 400ms;
}

.Collapsible__trigger.is-open:after {
  transform: rotateZ(180deg);
}

.Collapsible,
.container {
  text-align: start;
  background-color: rgb(0, 148, 148);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.container {
  text-align: center;
}

.input {
  background-color: white;
  border: none;
  color: black;
  padding: 5px;
  margin: 3px;
}
